<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesUnitDetails.css' %}">

    <title>LV-automaatti</title>
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar">
        <h3 class="navbar-brand">LV-automaatti</h3>
        <div class="nav-links">
          <a class="nav-link" href="#">Aloitus</a>
          <a class="nav-link" href="#">Tiedot</a>
          <a class="nav-link" href="#">Yhteystiedot</a>
        </div>
      </nav>
    </header>

    <main>
      <section class="text-center container">
        <div>
          <h1>{{ unit_name }} - Laitteet</h1>
          <p class="lead text-muted">Tutustu osaston {{ unit_name }} ultraäänilaitteen laadunvalvontatuloksiin klikkaamalla taulukosta laitteen nimeä.</p>
        </div>
      </section>

      <div class="album">
        <div class="container">
          <table>
            <thead>
              <tr>
                <th>Station Name</th>
                <th>Manufacturer</th>
                <th>Modality</th>
              </tr>
            </thead>
            <tbody>
              <!-- Loop through unit details and create a row for each one -->
              {% for detail in unit_details %}
              <tr>
                <td><a href="{% url 'device_details' detail.stationname %}">{{ detail.stationname }}</a></td>
                <td>{{ detail.manufacturer }}</td>
                <td>{{ detail.modality }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
