/* Yleiset tyylit */
body {
  background: #000 url('{% static "images/background.jpg" %}') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Navigointipalkki */
.navbar {
  background-color: rgba(31, 31, 31, 0.9);
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Taustan blur-efekti */
}

.navbar h3 {
  margin: 0;
  color: white;
  position: absolute; /* Asetetaan logo absoluuttiseksi */
  left: 20px; /* Sijoitetaan logo vasemmalle */
  font-size: 1.5rem; /* Suurempi fonttikoko */
}

.navbar .nav-links {
  display: flex;
  gap: 20px;
  /* padding-right: 20px; */
}

.navbar .nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Sulava siirtymä */
}

.nav-link:hover {
  background-color: #343a40;
  /* border-radius: 5px; */
  transform: scale(1.1); /* Hover-efekti */
}

/* Pääkontti */
main {
  margin-top: 80px; /* Varattu tila kiinteälle yläpalkille */
  padding: 20px;
  text-align: center;
}

.container {
  background-color: #000; /* Aseta tummaksi, jos haluat */
  max-width: 1140px;
  margin: auto;
}

/* Korttien layout */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.col {
  flex: 1 1 calc(33.333% - 20px);
  max-width: 350px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  width: 100%;
  /* background-color: #1f1f1f;  */
  border: 2px solid white; /* Lisätty valkoinen reuna */
}

.card img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Painikkeet */
.btn {
  display: inline-block;
  padding: .5rem 1rem;
  font-weight: 700;
  background-color: #3251a6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3251a6;
}

.bg-light {
  background-color: #f8f9fa;
  padding: 40px 0;
}

.album {
  background-color: #000; /* Musta tausta */
  color: white; /* Tekstin väriksi valkoinen */
}

/* Taulukon tyyli */
.table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: separate; /* Sallii erilliset border-tyylit */
  border-spacing: 0; /* Ei väliä solujen välillä */
  border-radius: 10px; /* Pyöristetyt kulmat */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Otsikkosarakkeen solut */
.table thead th {
  background-color: #343a40; /* Harmaa tausta otsikoille */
  color: #ffffff; /* Valkoinen teksti */
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left; /* Vasen tasaus */
  border: 1px solid white; /* Harmaat reunat */
}

/* Normaalit solut */
.table tbody td {
  background-color: #000; /* Musta tausta */
  color: #ffffff; /* Valkoinen teksti */
  padding: 10px;
  border: 1px solid #444444; /* Harmaa reuna */
  text-align: left; /* Vasen tasaus */
  font-size: 16px; /* Suurempi fonttikoko */
}

/* Linkin tyyli taulukon sisällä */
.table tbody td a {
  color: #007bff; /* Sininen linkki */
  text-decoration: none; /* Ei alleviivausta */
}

.table tbody td a:hover {
  text-decoration: underline; /* Hover-efekti */
}

